body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Poppins', Poppins !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Poppins', monospace !important;
}
.footer-image {
	width: 150px;
	border-radius: 3px;
	margin: 5px;
}
.footer-h2 {
	color: #fff;
}
.footer-social {
	/* border-radius: 3px; */
	margin: 10px;
}
.store-info {
	color: #707070;
	font-family: 'Poppins';
	font-size: 18px;
}
.cart-header {
	margin: auto;
	width: 50%;
	text-align: center;
	font-size: 30px;
}
.cart {
	background: #f7f7f7;
	padding: 70;
}
.center {
	text-align: center;
}
.summary-item {
	color: #707070;
}
.summary-amount {
	color: #000000;
	font-weight: bold;
}
